.company{
  > .content{
    position: relative;
    background-color: #fff7f0;
    padding-bottom: 100px;
    .bg{
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
    }
    .bar{
      margin: 0px auto;
      width: 1px;
      height: 100px;
      background-color: $mainColor;
    }
  
    h2{
      font-family: $subFont;
      font-size: 40px;
      margin: 50px 0px;
      text-align: center;
    }

    ul{
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      li{
        p{
          font-size: 20px;
          line-height: 1.5;
          font-family: $mainFont-Bold;
          margin: 0;
        }
        p:not(:last-child){
          margin-bottom: 30px;
        }
      }
    }

    .mission{
      text-align: center;
      margin-top: 100px;
      h3{
        font-size: 16px;
        background-color: #000;
        display: inline-flex;
        color: #fff;
        padding: 5px 10px;
        align-items: center;
        font-family: $subFont;
        span{
          font-size: 35px;
          font-family: $subFont;
          margin-right: 5px;
        }
      }
      p{
        font-size: 24px;
        margin-top: 50px;
        font-family: $subFont;
      }
    }
  }
}

@media (max-width:1200px){
  .company{
    .content{
      ul{
        grid-template-columns: 1fr;
        text-align: center;
      }
    }
  }
}

@media (max-width:1000px){
  .company{
    .content{
      .bg{
        right: inherit;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
}

@media (max-width:600px){
  .company{
    .content{
      .bg{
        width: 300px;
        top: 60%;
      }
      ul{
        li{
          img{
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width:499px){
  .company{
    .content{
      .bg{
        width: 300px;
        top: 60%;
      }
      h2{
        font-size: 28px;
      }
      ul{
        li{
          p{
            font-size: 14px;
          }
        }
      }

      .mission{
        p{
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width:400px){
  .company{
    .content{
      .bg{
        width: 300px;
        top: 60%;
      }
      ul{
        li{
          p{
            letter-spacing: -2px;
          }
        }
      }

      .mission{
        p{
          font-size: 18px;
        }
      }
    }
  }
}